
In this task I need to fill sql table with tree.
Then I need to draw it.
Then find any
And finally I need to find

Please note that code will randomly generate data.
So tree size can be from 1 to "dofiga"
<a href="task_2.php?get=TREE">Click here</a>
