
Please input array for find duplicates or leave field blank (it will generate a very long array).

  <form action="task_2.php" method="post" target="_blank">
      <input type="text" name="data6"><br>

  <input type="submit" value="Send">
 </form>
