

Please input correct data for this task.
  <form action="task_2.php" method="post" target="_blank">
      <input type="text" name="data1" value='[tag1:ddd]data1[/tag1][tag2:descript2]data2[/tag2]
      [tag3:descript3]data3[/tag3]'><br>

  <input type="submit" value="Send">
 </form>
