Please input array and I will find all possible variables.

  <form action="task_2.php" method="post" target="_blank">
      <input type="text" name="data7" size='100' value='["а1", "а2", "а3","b1", "b2"],["c1", "c2", "c3"],["а1", "а2", "а3"],["b1", "b2"],["c1", "c2", "c3"],["а1", "а2", "а3"],["а1", "а2", "а3"],["d1"]'><br>
  <input type="submit" value="Send">
 </form>
